.uno{
    font-size: 20px;
}
.dos{
    font-size: 24px;
}
.tres{
    font-size: 30px;
}
.cuatro{
    font-size: 40px;
}
.cinco{
    font-size: 48px;
}
.seis{
    font-size: 50px;
}
.siete{
    font-size: 58px;
}
.ocho{
    font-size: 40px;
}
.nueve{
    font-size: 60px;

}
.diez{
    font-size: 16px;
}