body{
    background-color: #212121;
}
h1{
    font-size: 120px;
    font-weight: 800px;
    color: rgb(249, 251, 253);
    font-family: "Nunito" 
     
}
p{
    font-size: 48px;
    font-weight: 700;
    color: rgb(246, 248, 251);
    
}
t{
    color: pink;
}
.disenadora{
    color: rgb(228, 205, 139);
}
.fotografa{
    color: rgb(223, 159, 255);
}
.verde{
    color: rgb(138, 184, 138);
}
