body{
    font-family: sans-serif;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
#e27396{
    background-color:#e27396 ;
    width: 100px;
    height: 20px;

}
#ea9ab2{
    background-color:#ea9ab2
     ;
}
#efcfe3{
    background-color:#efcfe3 ;
}
#eaf2d7{
background-color: #eaf2d7;
}
#b3dee2{
    background-color:#b3dee2 ;
}